body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: linear-gradient(hsla(211, 89%, 32%, 0.816), hsla(211, 57%, 48%, 0.816),hsla(211, 62%, 71%, 0.816), hsla(211, 83%, 88%, 0.816));
,
    font-size: 120%;
}

.card {
    background: #023f7bd0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search {
    display: flex;
    align-items: center;
    justify-content:center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #4a485f2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #0a02562b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}

button:hover {
    background: #0a0256d0;s
}

h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}

.flex{
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}